<div class="form-group">
    <button class="btn btn-success" type="submit">
        <i class="fa fa-save" aria-hidden="true"></i> Create
    </button>
    <a class="btn btn-outline-primary" asp-page="Index"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to List</a>
</div>