
@model int
@{
}

<div>
    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@Model">
        <i class="fa fa-edit" aria-hidden="true"></i> Edit
    </a>
    <a class="btn btn-outline-primary" asp-page="Index"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to List</a>
</div>