@page
@model CarBookingApp.Pages.Cars.EditModel

@{
    ViewData["Title"] = "Update";
}

<h1>Edit Car</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Car.Id" />
            <div class="form-group">
                <label asp-for="Car.MakeId" class="control-label"></label>
                <select id="makes" class="form-control" asp-for="Car.MakeId" asp-items="Model.Makes">
                    <option>Select Make</option>
                </select>
                <span asp-validation-for="Car.MakeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.CarModelId" class="control-label"></label>
                <select id="models" class="form-control" asp-for="Car.CarModelId">
                    <option>Select Model</option>
                </select>
                <span asp-validation-for="Car.CarModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.ColourId" class="control-label"></label>
                <select class="form-control" asp-for="Car.ColourId" asp-items="Model.Colours">
                    <option>Select Colour</option>
                </select>
                <span asp-validation-for="Car.ColourId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Year" class="control-label"></label>
                <input asp-for="Car.Year" class="form-control" />
                <span asp-validation-for="Car.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.LicensePlateNumber" class="control-label"></label>
                <input asp-for="Car.LicensePlateNumber" class="form-control" />
                <span asp-validation-for="Car.LicensePlateNumber" class="text-danger"></span>
            </div>
            <partial name="_EditButtonsPartial" />

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/CascadingModelsDropdownListScript.js" modelId="@Model.Car.CarModelId"></script>

}
