@page
@model CarBookingApp.Pages.Cars.UpdateModel

@{
    ViewData["Title"] = "Update";
}

<h1>Edit Car</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Car.Id" />
            <div class="form-group">
                <label asp-for="Car.Name" class="control-label"></label>
                <input asp-for="Car.Name" class="form-control" />
                <span asp-validation-for="Car.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Year" class="control-label"></label>
                <input asp-for="Car.Year" class="form-control" />
                <span asp-validation-for="Car.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-warning" type="submit">
                    <i class="fa fa-save" aria-hidden="true"></i> Save
                </button>
                <a class="btn btn-outline-primary" asp-page="Index"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
