@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-1">This is the Title h1</h1>

<h1>Hello World. My Website is now live!!!!!</h1>
<h2>Hello World.</h2>
<h3>Hello World.</h3>
<h4>Hello World.</h4>
<h5>Hello World.</h5>
<h6>Hello World.</h6>
<p>
    This is my frist web page.
    <br />
    This is what I want in the new line.
</p>
<p class="information">
    This is the other p tag 1
</p>
<p>
    This is the other p tag 2
</p>
<p class="information">
    This is the other p tag 3
</p>
<p id="targetTag">
    This is the other p tag 4
</p>
<p class="information">
    This is the other p tag 5
</p>

<a id="link1" class="btn btn-secondary" href="https://www.amazon.com" target="_blank">Amazon</a>

<button type="button" class="btn btn-link" onclick="buttonClicked()">Click Me</button>
<button type="button" class="btn btn-danger" onclick="buttonToChangeTextClicked()">Click Me To Change Text</button>
<button type="button" class="btn btn-success" id="hideTitleBtn">Click Me To Hide Title</button>


